@{
    Layout = null;
}
@model EcoRP.Models.Account
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="~/Resources/images/plant-leaf-with-white-details.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ECORP | Login </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Animate.css --> 
    <link href="~/Content/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->

    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Account</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-offset-3">
                                    @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-offset-3">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "",htmlAttributes: new { @type="password"})
                                </div>
                            </div>

                            <div class="form-group">
                              
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
               
                    }
                </section>
            </div>
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="text" name="username" class="form-control" placeholder="Gebruikersnaam" required="" />
                        </div>
                        <div>
                            <input type="password" name="password" class="form-control" placeholder="Wachtwoord" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit"  type="submit" value="Login">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>

